<div class="options-block">

Product ID: {{product.id}}
Product 

<label>
  <select class="extension-select">
{% for option in product.options %}
  <option>{{ option }}</option>
{% endfor %}
  </select>
</label>

</div>


{% schema %}
  {
    "name": "Product Options",
    "target": "section"
  }
{% endschema %}