<style>
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #708ae8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 0px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\1F6D2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 55px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0px;
  }
</style>

<div class="options-block">
  <script>
    // 1F6D2
    var optionsBlockProductData = {};
    optionsWrapper();

    async function fetchOptions(productID) {
      let response = await fetch(`https://pricing-options-app.herokuapp.com/api/show-options/${productID}`);      
      if (response.status != 200) return {};

      let data = await response.json();
      return data;
    }

    async function optionsWrapper() {
      let productData = await fetchOptions({{ product.id }});
      optionsBlockProductData = productData;
      renderPage();
    }

    async function renderPage() {
        const pageContent = document.getElementsByClassName("options-block")[0];
        console.log(optionsBlockProductData);  // first console log
        let optionsArray = optionsBlockProductData.productOptions || [];
        let HTMLString = "";

        for (let i = 0; i < optionsArray.length; i++) {
          let optionItem = optionsArray[i];
          let optionType = optionItem.optionType;

          HTMLString += `<div class="${optionType}">`;


          if (optionType == "dropdown") {  // create a dropdown menu
            HTMLString += `<br><input type="checkbox" id="checkbox${optionItem.menuTitle}" name="checkbox${optionItem.menuTitle}">`;
            HTMLString += `<label for="checkbox${optionItem.menuTitle}">Check to include option in cart</label><br>`;
            HTMLString += `<label for="${optionItem.menuTitle}">${optionItem.menuTitle}</label>`;
            HTMLString += ` <select name="${optionItem.menuTitle}" id="dropdown${optionItem.menuTitle}">`;
            for (let j = 0; j < optionItem.options.length; j++) {
              let choice = optionItem.options[j];  // loop through the choices for the dropdown
              HTMLString += `<option value="${choice.variantId}">${choice.option}</option>`;
            }
            
            HTMLString += `</select>`;


            // Engraving [x]
            // [              ]

            // Dropdown [x]
            // [red v]

          } else {  // create engraving text field
            let id = optionItem.variantId;
            
            HTMLString += `<br><input type="checkbox" id="checkbox${id}" name="checkbox${id}">`;
            HTMLString += `<label for="checkbox${id}">Check to include engraving in cart</label>`;

            HTMLString += `<form><label for="${id}">Engraving</label>`;
            HTMLString += ` <input type="text" id="${id}" name="${id}" value="${optionItem.description}"><br>`;
          
            /*
            optionItem object structure:
            {
              description
              lineNum
              optionType
              price
              productId (OF THE MAIN PRODUCT)
              productOptionId (OF THE EXTRA PRODUCT TO ADD TO CART)
            }
            */

            HTMLString += `</form>`;
          }

          HTMLString += `</div>`;  
        }


        HTMLString += `<br><div id="quantitySelector">Enter Quantity<label for="quantitySelectorBox">`;
        HTMLString += ` <input type="number" id="quantitySelectorBox" name="quantitySelectorBox" value="1"><br>`;
        HTMLString += `</label></div>`;

        pageContent.insertAdjacentHTML('beforeend', HTMLString);
    } 
    
    async function updateCart() {
        let optionsArray = optionsBlockProductData.productOptions || [];
        let purchaseQuantity = document.getElementById("quantitySelectorBox").value
        //const pageContent = document.getElementsByClassName("options-block")[0];

        let formData = {
          'items': [{
              'quantity': purchaseQuantity,
              'id': {{ product.variants[0].id }},
              'Description': "Base item" // write user friendly list of options attached to this product
            }]
        };

        for (let i = 0; i < optionsArray.length; i++) {
          let optionItem = optionsArray[i];

          if (optionItem.optionType == "dropdown") {
            if (document.getElementById(`checkbox${optionItem.menuTitle}`).checked) {        
              let userChoice = document.getElementById(`dropdown${optionItem.menuTitle}`);  // dropdown option selected by the user
              let optionID = userChoice.value;  // ID user selects
              let optionName = userChoice.options[userChoice.selectedIndex].text;  // name of selected option

              let optionObject = {
                'quantity': purchaseQuantity, // get QTY from quantity selector
                'id': optionID,
                'description': "make sure to note which item this option is for" // get main product ID or name
              };

              // #TODO: ADD ITEMS TO FORM
              formData.items.push(/*optionObject*/);
            }
          } else {
            if (document.getElementById(`checkbox${optionItem.variantId}`).checked) {
              
              let optionObject = {
              'quantity': purchaseQuantity, // get QTY from quantity selector
              'id': optionItem.variantId,
              'Engraving Text': document.getElementById(`${optionItem.variantId}`).value // get main product ID or name
              };

            }
            
            // #TODO: ADD ITEMS TO FORM
            formData.items.push(/*optionsArray*/);
          }  
        }

        // id: "gid://shopify/ProductVariant/42732828459256"

            
        // document.getElementById(`dropdown${optionItem.menuTitle}`).value
        // 7676470657272
        // document.getElementById(`dropdown${optionItem.menuTitle}`).options[2].text;
        // { extracomments: "red" }


        console.log(formData);

        await fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        })
        .then(response => {
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    /*{\% form "product", product %}
      ...
    {\% endform %}*/
  </script>
  
  <button type="button" class="button" style="vertical-align:middle" onclick="updateCart()"><span>ADD TO CART </span></button>




</div>
{% schema %}
  {
    "name": "Product Options",
    "target": "section"
  }
{% endschema %}