<div class="options-block">
  Product Id: {{product.id}} 


  <script src='../assets/fetchProductOptions.js' defer>
    let dataObj = new fetchProductOptions();
    let productData = dataObj.fetchOptions({{ product.id }});
    console.log(55);
    console.log(productData);
  </script>
</div>
{% schema %}
  {
    "name": "Product Options",
    "target": "section"
  }
{% endschema %}