.optionCard{
   width: inherit;
   /* margin: auto; */
   padding: 20px;
   overflow: hidden;
}

.selectionDiv {
    width: 300px;
    display: inline-block;
}

.addOptionBtn {
    display: inline-block;
    padding-left: 20px;
    padding-top: 23.5px;
}

.parentDiv {
    width: inherit;
    height: 100px;
    display: flex;
}