.ExitButton {
    width: 100px;
    float: right;
    padding-right: 10px;
}

.priceDiv {
    width: 160px;
    float: right;
    padding-top: 19px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.EditOptionCard {
    width: inherit;
    padding: 20px;
    height: inherit;
    overflow: auto;
}

.numLinesDiv {
    width: 200px;
    float: left;
    padding: 20px;
}

.descDiv {
    height: inherit;
    float: left;
    width: 300px;
    padding: 20px;
}

.submitButton {
    padding-left: 20px;
    clear: left;
    padding-top: 20px;
}

.parentDiv {
    height: 100px;
    display: flex;
}

.linesParentDiv {
    height: 50px;
    display: flex;

}
