.main{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.box{
    text-align: center;
    border: grey ridge 3px;
    border-radius: 50px;
    margin: auto;
    width: 95%;

}
.search {
    width: 100%;
    background-color: aliceblue;
    border: gray 3px;
}
/*.
main{
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: center;
}

h1{
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
} 

.search{
    width: 30%;
}

ul li {
    font-size: 20px;
}

.list {
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
} */
.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

/*h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}*/

.search {
    width: 30%;
}

/*ul li {
    font-size: 20px;
}*/