.ShowOptionsCard {
    width: inherit;
    padding-left: 20px;
    padding-top: 20px;
    height: inherit;
    padding-bottom: 40px;
    overflow: auto;
}

.optionDiv {
    height: inherit;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(67, 67, 67, 0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background:rgb(251, 251, 253); 
}

.parentOptionDiv  {
    padding: 10px;
    border-radius: 20px;   
} 

.deleteIcon {
  float: right;
}

.viewBtn {
    padding-bottom: 10px;
}

.hideBtn {
   padding-bottom: 10px;
   display: inline;

}

.refreshBtn{
    display: inline;
    float: right;
}

.paragraph {
    font-size: 9.5px;
    padding-left: 32px;
    color: #6f7378;
}